CONFIG_OPENCLAW_WIFI_SSID=""
CONFIG_OPENCLAW_WIFI_PASSWORD=""
CONFIG_OPENCLAW_BRIDGE_URL="http://127.0.0.1:3001"
CONFIG_OPENCLAW_BRIDGE_API_KEY=""
CONFIG_OPENCLAW_DEVICE_ID="atoms3-dev"
CONFIG_OPENCLAW_DEFAULT_MODE_WORK=y
CONFIG_OPENCLAW_AUDIO_SAMPLE_RATE=16000
CONFIG_OPENCLAW_BUTTON_DEBOUNCE_MS=40
CONFIG_OPENCLAW_PTT_MIN_DURATION_MS=150
CONFIG_OPENCLAW_NETWORK_TIMEOUT_MS=15000
CONFIG_OPENCLAW_RESPONSE_POLL_MS=1000
CONFIG_OPENCLAW_MAX_UTTERANCE_MS=12000
CONFIG_OPENCLAW_WRAP_WAV=n
CONFIG_OPENCLAW_ENABLE_BRIDGE_STUB=y
CONFIG_OPENCLAW_PIN_BUTTON_SIDE=-1
CONFIG_OPENCLAW_PIN_BUTTON_CENTER=41
CONFIG_OPENCLAW_PIN_I2S_MIC_BCK=-1
CONFIG_OPENCLAW_PIN_I2S_MIC_WS=-1
CONFIG_OPENCLAW_PIN_I2S_MIC_DATA=-1
CONFIG_OPENCLAW_PIN_I2S_SPK_BCK=-1
CONFIG_OPENCLAW_PIN_I2S_SPK_WS=-1
CONFIG_OPENCLAW_PIN_I2S_SPK_DATA=-1
